<div class="topnav">
        <h1>Employee Records</h1>
        
        </div>
        
<div>
        <table class="table" BORDER="5"    WIDTH="95%"   CELLPADDING="4" CELLSPACING="3">
          <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Employee</th>
                <th>Amount</th>
                <th>Submit Date</th>
                <th>Resolved Date</th>
                <th>Description</th>
                <th>Status</th>
                <th>Type</th>
              </tr>
          </thead>

              <tbody *ngFor="let record of records" >
                <tr ALIGN="CENTER" >

                    <td>{{record.ticketid}}</td>
                    <td>{{record.authorid}}</td>
                    <td>{{record.amount}}</td>
                    <td>{{record.datesubmitted | date: 'yyyy-MM-dd'}}</td>
                    <td>{{record.dateresolved | date: 'yyyy-MM-dd'}}</td>
                    <td>{{record.description}}</td>
                    <td><div ng-if='record.statusid === 1'>{{Pending}}</div>{{record.statusid}}</td>
                    <td>{{record.typeid}}</td>
                  </tr>
            </tbody>
         </table>
       </div>
