<section>
    <section id="login">

        <h1>Dunder Mifflin Co.</h1>
        <h1>Employee Reimbursement System</h1>

        <h2>Login To Get Started!</h2>

            <form>

                <input [(ngModel)]="inputUsername" name="Username" type="username" placeholder="Username">
                <input [(ngModel)]="inputPassword" name="password" type="password" placeholder="password">
                <button [disabled]="!(inputUsername && inputPassword)" (click)="submit()">Login</button>

                <div *ngIf="invalidInput">
                    Invalid credentials.
                </div>
            </form>
    </section>
    <section id="bottom"> </section>

</section>            
