h1 {
    font-size: 30px;
    font-size: 3.5vw;
}

h2 {
    font-size: 25px;
    font-size: 3vw;
}

body {
    font-size: 2vw;
}

input,
textarea {
    margin: 10px 10px 10px 6px;
    font-size: 2vw;
}

input {
    text-align: center;
}

table {
    border-style: dashed;
}

tbody:nth-child(even) {
    background-color: #55bbd473;
}

button,
input,
table {
    border-radius: 12px;
}

button:hover {
    background-color: #f5f5f5;
    transform: scale(1.5) perspective(1px)
}